.logo2 {
  width: 80px;
  height: auto;
}

.sr {
  width: 250px;
  height: auto;
  padding: 5px;
}

.botitas {
  width: 392px;
  height: 521px;
}

.mocasines {
  width: 390px;
  height: 512px;
}

.botitas2 {
  width: 420px;
  height: 519px;
}

.acomodo {
  padding: $textSm;
}

.facebook {
  width: 40px;
  height: auto;
}

.instagram {
  width: 90px;
  height: auto;
}

.header {
  width: 1280px;
  height: auto;
}
